<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="testDB"
                connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Workspace_VS\EnterpriseLib\EntLib.iBatis\App_Data\_test.mdf;Integrated Security=True;User Instance=True"/>
  </database>

  <sqlMaps>
    <sqlMap resource="./profile.xml" />
  </sqlMaps>
</sqlMapConfig>
